body, body *{
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    outline: 0 ;
    box-sizing: border-box;
    display: inline-block;
    transition: all 300ms ease;
}
body{
    overflow: hidden;
}
.page{
    width: 100vw;
    height: 101vh;
    background-color: #000;
    color: #fff;
    font-family: arial;
}

/* Comentario otro cambio para nuevo ayuda */

.page .content, .page .escene{
    
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    vertical-align: bottom;
    clear: both;
    overflow: hidden;
    background-color: #000;
    transition: 800ms all ease;
}
.page [page='2']{opacity: 0;visibility: hidden;}
.page [page='1']{opacity: 1;visibility: visible;}
.offosk.page [page='1']{opacity: 0;visibility: hidden;}
.offosk.page [page='2']{opacity: 1;visibility: visible;}

.page [page='2'].content{left: 50%;background-image: url(001.jpg);background-position-y: -46px;background-size: auto 100%;background-repeat: no-repeat;}
.page [page='2'].escene{left: 0%}
.page [page='1'].escene{left: 50%}
.page [page='1'].content{left: 0%;background-image: url(001.jpg);background-position-x: 65%;background-position-y: -45px;background-size: auto 106%;background-repeat: no-repeat;}

.page [page='1']:nth-of-type(2n+1){    border-right: 1px solid #2a0321;}
.page [page='2']:nth-of-type(2n+1){    border-right: 1px solid #171717;}

.offosk.page [page='2'].content h1{    animation: leftText 2s ease 1;width: 95%;}
.offosk.page [page='1'].content h1{animation: none;}
.page [page='2'].content h1{animation: none;}
.page [page='1'].content h1{    animation: leftText 2s ease 1;text-align: right;width: 94%;}

.offosk.page [page='2'].content h2{       animation: rightText 3s ease 1;}
.offosk.page [page='1'].content h2{animation: none;}
.page [page='2'].content h2{animation: none;}
.page [page='1'].content h2{       animation: rightText 3s ease 1;text-align: right;}

.offosk.page [page='1'].content h2{}
.deline{position: fixed;right: 0;top: 50%;width: 17px;height: 2px;background-color: #fff;opacity: 0.5;}
.page .deline{width: 17px;}
.page.offosk .deline{width: 25px;height: 3px;}
.page .content{
     padding: 40vh 0 0 5%;
  
}
.page .content h1{
    
    font-size: 3.5em;
    margin: 0 00 0 0;
    display: block;
   
    text-shadow: 0 0 9px #000;
}
.page .line{position: fixed;background-color: #fff;width: 2px;height: 1%;right: 5px;top: 5px;}
.page .content h2{
    margin: 0;
    position: absolute;
    font-size: 1.2em;
    min-width: 84%;
    text-shadow: 0 0 9px #000;
    font-weight: normal;
    letter-spacing: 3px;
}

.page .menu{
    position: fixed;
    top: 0;
    
    width: 70px;
    z-index: 100;
    left: calc(50% - 39px);
}
.page .menu .icon{
    
    padding: 5px;
    border: 1px solid #fff;
    margin: 8px;
    cursor: cell;
}
.page .menu .icon:hover{
    background-color: #fff;
}
.page .menu .icon:hover svg{
    fill: #000;
}
.page .menu .icon svg{
    fill:#fff;
    height: 51px;
    transition: all 500ms ease;
}
.page .footer{
    
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.8em;
    width: 90%;
    padding: 15px;
    margin: 0 5%;
    border-top: 1px solid #272727;
    color: #3f3f3f;
    
    background-color: #000;
}
.page .footer:hover{color:#eee;}

.page [page='2'].escene svg  {  font: 7.2em 'JS';}
.page .escene svg {
    display: block;
    font: 7.2em 'CSS';
    width: 100%;
    height: 210px;
    margin: 27vh auto;
    font-family: arial;
}

.page .escene  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray:  20% 5%;
    stroke-width: 1px;
    stroke-dashoffset: 10%; 
    font-family: arial; 
    animation: stroke-offset 30s ease-in-out 100;
}

.page .escene  .text-copy:nth-child(1){ 
	stroke: #4D163D;
	animation-delay: -5s;
}

.page .escene  .text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -3s;
}

.page .escene .text-copy:nth-child(3){
	stroke: #751E36;
	animation-delay: -2s;
}

.page .escene .text-copy:nth-child(4){
	stroke: #3F3F3F;
	animation-delay: -2s;
}

.page .escene .text-copy:nth-child(5){
	stroke: #dedede;
	animation-delay: -1s;
}
.page .scroll{position: absolute;bottom: 61px;width: 100%;text-align: center;z-index: 100;}
.page .scroll a{text-decoration: none; color: #aaa;border: 1px solid #fff;padding: 6px;background-color: rgba(0,0,0,0.5);transition: all 300ms ease;width: 55px;}
.page .scroll a:hover{width: 170px;border-radius: 12px;background-color: #fff;color: #000;}
@keyframes stroke-offset{
	50% {stroke-dashoffset: -30% ;    stroke-dasharray: 30% 90%; }
}
@keyframes leftText{
    0%{
        margin-left: -200%;
        opacity: 0.2
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes rightText{
    0%{ margin-left: 200%;opacity: 0.2; }
    100%{margin-left: 0;opacity: 1; }
}
@media all and (max-width:600px) {
    .page .content h1{font-size: 2.4em;}
    .page .scroll{bottom: 70px; font-size: 1.3em}
    .page .content{padding: 35vh 0 0 3%;}
}

